:root{
    --dark-purple:#24053e;
    --eucalyptus: #44ffa1;
    --davys-grey: #584d62;
    --ghost-white: #fcf8ff;
    --white: #fff;

    --heading-font: "Frauncs", serif;
    --body-font: "Manrope", sans-serif;

}


html{
    font-size: 62.5%;
    box-sizing: border-box;
    
 }

 @font-face {
    font-family: "Fraunces";
    src: url("../fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
 }

 @font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope/Manrope-VariableFont_wght.ttf");
 }
*,
::after,
::before {
    box-sizing: border-box;
}

/*header*/
.header{
align-items: center;
display: flex;
flex-direction: column;
color: var(--white);

}

.header::before{
    content: "Esto es mi header";
    background-color: var(--dark-purple);
    clip-path: ellipse(50% 50% at 50% 0%);
    

}

h2{
    margin: auto;
}


 body{
font-size: 15px;
 
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    text-align: center;
    

}

.imagen{
    background-image: url(../images/image-hero.webp);
    width: 350px;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    position: relative;

}

.img{
   
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px; 
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;  
    border-radius: 10px;
} 
 
.boton{
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .2rem;
    font-weight: bold;
    border: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    
}

nav{
    font-size: 15px;
}


.letra{
   display: flex;
   flex-direction: column;
   align-items: center;

}

.letra h2{
    color: var(--dark-purple);
}

.letra p{
    color: var(--davys-grey);

}

.numero{
    border-radius: 50%;
    border-style:solid;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: blueviolet;
    
}
